<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="d-flex align-items-center justify-content-center text-center">
        <img src="/assets/cake.jpeg" class="card-img" alt="Card image">
        <div class="d-flex align-items-center justify-content-center card-img-overlay">
          <div class="px-5 py-4"  style="background-color:rgba(255,255,255,0.5)">
            <div class=" text-dark">
              <h4>ようこそ、ながのCAKEへ！</br></h4>
              <h6>このサイトは、ケーキ販売のECサイトになります。</br></h6>
              <h6>会員でない方も商品の閲覧はできますが、</br></h6>
              <h6>購入には会員登録が必要になります。</br></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <h1>新着商品</h1>

