<ul class="list-group">
  <li class="list-group-item bg-light">ジャンル検索</li>
  <% genres.each do |genre| %>
    <%= link_to items_path(genre_id: genre.id) do %>
    <li class="list-group-item bg-transparent bg-gradient text-dark", style="text-decoration: underline;"><%= genre.genre_name %></li>
    <% end %>
  <% end %>
</ul>